<a href="https://colab.research.google.com/github/Rakesh1742/2303A51742/blob/main/lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
temps_celsius = np.array([14.2, 15.8, 19.1, 22.5, 26.3, 29.4, 31.0, 30.6, 28.1, 24.0, 19.0, 15.2])
months = np.array(["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                   "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"])

In [ ]:
avg_temp = np.mean(temps_celsius)
hottest_month_index = np.argmax(temps_celsius)
coldest_month_index = np.argmin(temps_celsius)

print(f"Average Temperature: {avg_temp:.2f}°C")
print(f"Hottest Month: {months[hottest_month_index]} ({temps_celsius[hottest_month_index]}°C)")
print(f"Coldest Month: {months[coldest_month_index]} ({temps_celsius[coldest_month_index]}°C)")

Average Temperature: 22.93°C
Hottest Month: Jul (31.0°C)
Coldest Month: Jan (14.2°C)

In [ ]:
normalized_temps = (temps_celsius - np.min(temps_celsius)) / (np.max(temps_celsius) - np.min(temps_celsius))
print("Normalized temperatures:\n", normalized_temps)

Normalized temperatures:
 [0.         0.0952381  0.29166667 0.49404762 0.7202381  0.9047619
 1.         0.97619048 0.82738095 0.58333333 0.28571429 0.05952381]

In [ ]:
above_avg = temps_celsius > avg_temp
months_above_avg = months[above_avg]

print("Months above annual average temperature:")
print(months_above_avg)

Months above annual average temperature:
['May' 'Jun' 'Jul' 'Aug' 'Sep' 'Oct']

In [ ]:
temps_fahrenheit = temps_celsius * 9/5 + 32
print("Temperatures in Fahrenheit:\n", temps_fahrenheit)

Temperatures in Fahrenheit:
 [57.56 60.44 66.38 72.5  79.34 84.92 87.8  87.08 82.58 75.2  66.2  59.36]

In [ ]:
import pandas as pd

# Sample data
data = {
    'Order ID': [101, 102, 103, 104, 105, 106, 107],
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Laptop', 'Mouse', 'Monitor'],
    'Quantity': [1, 5, 3, 2, 2, 10, 1],
    'Price': [80000, 400, 1200, 15000, 80000, 400, 15000]
}

df = pd.DataFrame(data)
print("Original Data:")
print(df)

Original Data:
   Order ID   Product  Quantity  Price
0       101    Laptop         1  80000
1       102     Mouse         5    400
2       103  Keyboard         3   1200
3       104   Monitor         2  15000
4       105    Laptop         2  80000
5       106     Mouse        10    400
6       107   Monitor         1  15000

In [ ]:
df['Total Sale'] = df['Quantity'] * df['Price']
print("\nWith Total Sale:")
print(df)

With Total Sale:
   Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         1  80000       80000
1       102     Mouse         5    400        2000
2       103  Keyboard         3   1200        3600
3       104   Monitor         2  15000       30000
4       105    Laptop         2  80000      160000
5       106     Mouse        10    400        4000
6       107   Monitor         1  15000       15000

In [ ]:
high_value_orders = df[df['Total Sale'] > 1000]
print("\nOrders with Total Sale > 1000:")
print(high_value_orders)

Orders with Total Sale > 1000:
   Order ID   Product  Quantity  Price  Total Sale
0       101    Laptop         1  80000       80000
1       102     Mouse         5    400        2000
2       103  Keyboard         3   1200        3600
3       104   Monitor         2  15000       30000
4       105    Laptop         2  80000      160000
5       106     Mouse        10    400        4000
6       107   Monitor         1  15000       15000

In [ ]:
product_sales = df.groupby('Product')['Quantity'].sum().sort_values(ascending=False)
most_sold_product = product_sales.idxmax()

print("\nProduct-wise Quantity Sold:")
print(product_sales)

print(f"\nMost Sold Product: {most_sold_product}")

Product-wise Quantity Sold:
Product
Mouse       15
Keyboard     3
Laptop       3
Monitor      3
Name: Quantity, dtype: int64

Most Sold Product: Mouse

In [ ]:
def discount_rule(sale):
    if sale > 50000:
        return 5000
    elif sale > 10000:
        return 1000
    elif sale > 5000:
        return 500
    else:
        return 0

df['Discount'] = df['Total Sale'].apply(discount_rule)
print("\nWith Discount Column:")
print(df)

With Discount Column:
   Order ID   Product  Quantity  Price  Total Sale  Discount
0       101    Laptop         1  80000       80000      5000
1       102     Mouse         5    400        2000         0
2       103  Keyboard         3   1200        3600         0
3       104   Monitor         2  15000       30000      1000
4       105    Laptop         2  80000      160000      5000
5       106     Mouse        10    400        4000         0
6       107   Monitor         1  15000       15000      1000

In [ ]:
# Export to Excel file
df.to_excel("sales_summary.xlsx", index=False)
print("\nExported to 'sales_summary.xlsx'")

Exported to 'sales_summary.xlsx'